body {
	background-color: white;
}

div {
	font-family: "Open Sans", "Myriad Pro", sans-serif;
	

}

a {
	text-decoration: none;
}

.header {
	height: 68px;
	width: auto;
	background-color: #252525;
	overflow: hidden;
	/*position: fixed;*/
	
}

.header a {
	color: white;
}

.header-container, .main-container {
	width: 960px;
	margin: auto;
}

.logo {
	float: left;
	margin-top: 12px;
}

.top-menu {
	
	color: white;
	float: right;
	margin-right: 10px;

}

.top-menu li {
	display: inline-block;
	margin-left: 20px;
	margin-top: 22px;

}

.top-menu a:hover {
	color: #fff870;

}

.middle-top-block {
	background-color: #555147;
	color: white;
	height: 335px;
	padding-top: 20px;
	overflow: hidden;
}

.pic-block {
	float: left;
}

.forum-block {
	float: right;
	margin-right: 10px;
}

.mid-title {
	margin-top: 30px;
	margin-bottom: 10px;


}

.mid-text {
	width: 360px;
}

.email-submit {
	position: absolute;

}

.email-submit-block {
	margin-top: 25px;
	background-color: #dadada;
	overflow: hidden;
	padding: 5px;
	height: 62px;
	border-radius: 2px;
	position: relative;
	z-index: 1;
	width: 950px;
}

.es-label {
	float: left;
	margin-top: 22px;
	margin-left: 10px;
}

.shadow {
	margin-left: -72px;
	margin-top: -39px;
	position: relative;
	z-index: -25;
}

.middle-block {
	margin-top: 150px;
	overflow: hidden;
	margin-bottom: 100px;
}

.middle-1st-block, .middle-2nd-block, .middle-3rd-block {
	float: left;
	width: 300px;
}

.micro-header {
	font-weight: bold;
	margin-bottom: 9px;
}

.img-block {
	margin-top: 70px;
}







