body {
	background-color: #e5e7e9;
}

.header {
	height: 68px;
	width: auto;
	background-color: #252525;
	overflow: hidden;
}

.header-container {
	width: 960px;
	margin: auto;
}

.logo {
	float: left;
	margin-top: 12px;
}

.top-menu {
	
	color: white;
	float: right;
	margin-right: 10px;

}

.top-menu li {
	display: inline-block;
	margin-left: 20px;
	margin-top: 22px;

}

.middle-top-block {
	background-color: #5d5440;
}



