body {
	background-color: white;
}

a {
	text-decoration: none;
}

.header {
	height: 68px;
	width: auto;
	background-color: #252525;
	overflow: hidden;
}

.header a {
	color: white;
}

.header-container, .main-container {
	width: 960px;
	margin: auto;
}

.logo {
	float: left;
	margin-top: 12px;
}

.top-menu {
	
	color: white;
	float: right;
	margin-right: 10px;

}

.top-menu li {
	display: inline-block;
	margin-left: 20px;
	margin-top: 22px;

}

.top-menu a:hover {
	color: #fff000;

}

.middle-top-block {
	background-color: #555147;
	color: white;
	height: 335px;
	padding-top: 20px;
	overflow: hidden;
}

.pic-block {
	float: left;
}

.forum-block {
	float: right;
	margin-right: 10px;
}

.mid-title {
	margin-top: 30px;
	margin-bottom: 10px;


}

.mid-text {
	width: 360px;
}

.email-submit {
	margin-top: 25px;
	background-color: #dadada;
	overflow: hidden;
}

.es-label {
	float: left;
}





